*{
    margin: 0px;
    padding: 0px;
    /* text-align: justify; */
    vertical-align: top;
    font-family: arial;
    /* color: white; */
   }

#container{
    padding: 10px;

}

#head{

}

#globe{
    height: 60px;
    width: 60px;
    display: inline-block;

}

#head_h1{
    display: inline-block;

}

.net{
    color: cornflowerblue;

}

#head_h2{
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
}

#sidebar{
    display: inline-block;
    padding: 10px 0px;
    width: 140px;
    box-sizing: border-box;
    font-size: 8pt;
    font-weight: bold;
}

#sidebar_1{
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: blueviolet;

}

#sidebar_p_2{
    margin: 10px 0px;
}

#watch_v, #more_r, #sidebar_button{
    width: 80%;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 8pt;
    padding: 0px 0px;
    display: block;
    margin: 2px auto;
    background-color: blue;
}

#more_r{
    background-color: orange;
}

#red{
    color: red;
}

#sidebar_2{
    display: inline-block;
    background-color: wheat;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    background-image: url("images/ad_background.png");
    background-repeat: no-repeat;
    background-size: auto;
}

#ninja{
    display: inline-block;
    width: 50px;
    height: 80px;
}

#sidebar_button{
    background-color: cyan;

}

/* end of sidebar */

#dns{
    display: inline-block;
    background-color: green;
}

#home{
    width: 20px;
    height: 20px;
}

#phone{
    width: 20px;
    height: 20px;
}

#clients{
    display: inline-block;
    background-color: blue;
}

#clients_img{
    width: 100px;
    height: 50px;
}

#what{
    display: inline-block;
    background-color: brown;
}

#foot{
    display: inline-block;
    background-color: chartreuse;
}

#foot_img{
    width: 30px;
    height: 30px;

}