*{
    margin: 0px;
    padding: 0px;
    /* text-align: justify; */
    vertical-align: top;
    font-family: arial;
    /* color: white; */
   }

#container{
    padding: 10px;
    width: 970px;
}

#background{ 
    background: linear-gradient(#e3e3e3, white)
}

#head{

}

#globe{
    height: 70px;
    width: 70px;
    position: relative;
    top: 10px;
    display: inline-block;

}

#head_h1{
    display: inline-block;
    margin-top: 25px;

}

.blue{
    color:#22649e;
}

.net{
    color: rgb(0, 214, 214);
}

#head_h2{
    color: white;
    background: linear-gradient(#24659e,#4e80ab,#24659e);
    padding: 10px;
}

#sidebar{
    display: inline-block;
    padding: 10px 0px;
    width: 140px;
    box-sizing: border-box;
    font-size: 6pt;
    font-weight: bold;
}

#sidebar_1{
    margin: 0px 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;

}

#sidebar_p_2{
    margin: 10px 0px;
}

#watch_v, #more_r, #sidebar_button{
    max-width: 120px;
    min-width: 120px;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 8pt;
    font-weight: bold;
    display: block;
    margin: 2px auto;
    background-color: blue;
}

#more_r{
    background-color: orange;
}

#red{
    color: red;
}

#sidebar_2{
    display: inline-block;
    background-color: wheat;
    color: white;
    text-align: center;
    margin-top: 10px;
    background-image: url("images/ad_background.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 10px 5px;
    box-sizing: border-box;
}

#ninja{
    display: inline-block;
    width: 50px;
    height: 80px;
}

#sidebar_button{
    background-color: cyan;
}

#sidebar_2_p{
    padding: 5px;
    font-size: 10pt;
    font-weight: normal;
}

/* end of sidebar */

#body{
    width: 800px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

#dns{
    display: inline-block;
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: black;
}

.h{
    display: inline-block;
    color: cornflowerblue;
}
#home{
    display: inline-block;
    width: 20px;
}

#phone{
    display: inline-block;
    width: 40px;
    margin-left: 500px;
    margin-top: 5px;
}

#dns_phone{
    display: inline-block;
    font-size: 6pt;
    text-align: center;

}
#dns_s{
    color: aqua;
    font-size: 16pt;
}

/* end of body header */

#clients, #what, #foot,{
    display: inline-block;
    text-align: justify;
    padding: 0px;
    margin: 0px 15px;
}

#clients_h3, #clients_p, #what_h3{
    margin-bottom: 5px;
}

#clients_list, #what_list{
    padding-left: 30px;
}

#clients_img{
    display: block;
    width: 250px;
    height: 100px;
    margin: 0 auto;
}
/* end of clients and servers and what */

#foot{
    margin-top: 10px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    border-color: cornflowerblue;
    border-bottom-width: 0px;
    display: inline-block;
}

#footdiv{
    display: inline-block;
    width: 70%;
}

#foot_p, #foot_p_2, #foot_h3{
    margin: 5px;
}


#foot_img{
    display: inline-block;
    height: 125px;

}